$font-family-sans-serif: "Arimo", Helvetica, Arial, sans-serif;
$font-family-serif: "Oswald", "Times New Roman", Times, serif;
$font-size-base: 15px;
$headings-font-family: $font-family-serif;
$body-bg: #efefef;
$text-color: #555;